body {
    background-color: teal;
}

.point {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}

.point-animation {
    display: flex;
    width: 100vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* animation: rotation 0.5s ease infinite; */
}

@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(180deg);
    }
  }

.column {
    background-color: white;
    width: 20px;
    height: 65px;
    animation-name: move;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

.column-animation {
    display: flex;
    width: 100vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.column1 {
    animation-delay: 0.5s;
}

.column2 {
    animation-delay: 0.7s;
}

.column3 {
    animation-delay: 0.9s;
}

.column4 {
    animation-delay: 1.1s;
}

.column5 {
    animation-delay: 1.3s;
}

@keyframes move {
    0% {
      transform: scaleY(1.7);
    }
  
    100% {
      transform: scaleY(0.7);
    }
  }