body {
    background-color: teal;
}

.point {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}

.point-animation {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 50px;
    animation: rotation 0.5s ease infinite;
}

@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(180deg);
    }
  }